
*{
    text-decoration: none;
    color: white;
}
.NetflixNav{
  position: fixed;
    width: 100%;
    padding: 10px 120px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    z-index: 500;
}
.Netflix-component svg{
    width: 120px;
    height: 25px;
    fill: #e50914;
    margin-top: 20px;
}
.Netflix-component{
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    justify-content: space-between;
}
.Netflix-component ul{
    display: flex;
    gap: 20px;
}
.Netflix-component ul li{
    font-size: 16px;
    cursor: pointer;
    font-weight: 400;
}
.Netflix-component2 ul{
    display: flex;
    gap: 20px;
}
.Netflix-component2 ul li{
    font-size: 18px;
    font-weight: 400;
}
.img-changes{
    border-radius: 4px;
}
.Netflix-component ul li:hover{
    text-decoration: none;
}
.search-input-container {
    position: relative;
    display: inline-block;
    width: 0px; 
    transition: width 0.5s ease; 
  }
  .search-input-container.expanded {
    width: 100%; 
  }
  .search-input-container input {
    padding-right: 30px; 
    height: 35px;
    background-color: black;
    padding-left: 40px;
    border: 1px solid #fff;
  }
  .search-icon {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: white;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black; 
    min-width: 160px; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
    z-index: 1;
    right: -40px;
    top: 100%;  
  }
  .dropdown-content .signout {
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    border-top: 1px solid gray;
  }
  .mailname{
    color: #fff;
    padding: 8px 16px;
  }
  .Netflix-component2 ul li:hover .dropdown-content {
    display: block;
  }
  .NetflixNav.not-scrolling {
    background-color: transparent;
  }
  
  .NetflixNav.scrolling {
    background-color: black;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
  }
.dropdown:after {
    content: "";
    position: absolute;
    right: -16px;
    top: 70%;
    margin-top: -5px; 
    border-width: 5px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}
  
 
.dropdown:hover:after {
    border-color: transparent transparent #fff transparent;
    margin-top: 0px; 
}
  

.dropdown-content {
    display: none;
    position: absolute;
}
  

.dropdown:hover .dropdown-content {
    display: block;
}
.browse-dropdown .browse,.browse2{
  display: none;
}
.fabars-nav {
  display: none; 
  cursor: pointer;
  
}
#search2,#mail2,#img2{
  display: none;
}

@media (max-width:1050px) {
  .NetflixNav{
    padding: 10px 60px 10px 0px;
  }
  .dropdown-content{
    min-width: 90px;
    font-size: 12px;
  }
  .dropdown-content a{
    padding: 8px 0px;
    text-align: center;
  }
}
@media (max-width:950px) {
  .Netflix-component ul li{
    display: none;
  }
  .browse-dropdown .browse{
    display: block;
    color: #e50914;
  }
  .browse-dropdown .browse2{
    display: block;
    padding-left: 20px;
  }
  .children-Netflix-component2{
    display: none;
  }
 
  .Netflix-component{
    width: 300px;
  }
  .Browse-content {
    display: none;
    position: absolute;
    background-color: black; 
    min-width: 140px; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
  .browse:hover .Browse-content {
    display: flex;
    flex-direction: column;
    margin-top:20px ;
    padding: 10px;
  }
  .browse {
    position: relative;
    display: inline-block;
    color: #fff;
  }
  .browse:after {
    content: "";
    position: absolute;
    right: -16px; 
    top: 70%;
    margin-top: -5px; 
    border-width: 5px;
    border-style: solid;
    border-color: #e50914 transparent transparent transparent; 
  }
  .browse:hover:after {
    border-color: transparent transparent #e50914 transparent;
    margin-top: -10px; 
  }
  .Browse-link{
    width: 140px;
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  .Browse-link:hover{
    background-color: gray;
  }
  .NetflixNav{
    padding: 10px 60px 10px 0px;
  }

}
@media (max-width:850px){
  #search-icon{
    display: none;
  }
  #bell-icon{
    display: none;
  }
  #img-icon{
    display: none;
  }
  #search2,#mail2,#img2{
    display: block;
  }
  .Netflix-component2 ul{
    display: flex;
    gap: 10px;
  }
  .NetflixNav{
    padding: 10px 10px 10px 0px;
  }
  .searchbar{
    background-color: #141414;
    color: white;
    border: 1px solid #999999;
    width: 180px;
    height: 30px;
    padding: 10px;
  }
  .searchbar::placeholder{
    color: gray;
    font-size: 18px;
  }
}
@media (max-width:756px){
  .fabars-nav {
    display: block; 
    cursor: pointer;
  }
  .mobile-menu-icon{
   margin-top: 18px;
   margin-left: 10px;
  }
  .mobile-menu-icon i{
    font-size: 25px;
  }
  .browse-dropdown .browse {
    display: none;
  }
  .browse-dropdown .browse2 {
    display: none;
  }
  .mobile-menu {
    position: absolute;
    top: 70px;
    left: 0; 
    width: 250px; 
    height: 100%;
    background: black; 
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    z-index: -1;
    overflow: scroll;
  }
  .mobile-menu .linknav-bar {
    display: block;
    padding: 10px 0px 0px 15px;
    color: #808080; 
    font-size: 16px;
    font-weight: bolder;
  }
  .mobile-menu-visible .mobile-menu {
   
    transform: translateX(0%); 
    left: 0;
  }
  #mail2,#img2{
    display: none;
  }
  .profile-bar{
    display: flex;
    gap: 10px;
  }
  .img-changes{
    border-radius: 0px;
  }
  
}







